<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Raspberry Pi Audiostream</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/network/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/network/css/dashboard.css" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/network/css/responsive.css" />
   <meta name="robots" content="NONE,NOARCHIVE" />

  </head>
  <!-- Add additional CSS in static file -->
 {% load static %}

 <link rel="stylesheet" href="{% static 'network/css/styles.css' %}">

</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Menú principal</a></li>
          <li><a href="/config_list">Configuraciones Darkice</a></li>
          <li><a href="/network/wifi">Wifis disponibles</a></li>
          <li><a href="/network/status">Estado de la red</a></li>

      {% endblock %}
      
      </div>
    </div>
   
  </div>
  {% block content %}
  {% endblock %}

</body>
</html>