{% extends "network/base.html" %}
{% load custom_tags%} 

    {% block content %}
        <h2>Mostrando estado de la red</h2>
        {% if  status  %}
        
        <h3>Conexión a internet</h3>
            <style>
            .square {
            height: 50px;
            width: 50px;
            background-color: rgb(67, 145, 51);
            }
            </style>
           <div class="square"></div>
           {% if  stream  %}  
              <h3>La URL de streaming es alcanzable</h3>

              <table style="width:100%">
                    <tr>
                      <th>NOMBRE</th>
                      <th>TIPO</th>

                    </tr>
                {% for name in name_connection %}  
                {% for type in type_connection %} 
                    <tr>
                      <td>{{ name}}</td>
                      <td>{{ type}}</td>
                    </tr>
                {% endfor %}
                {% endfor %}
            </table> 

              


              

        {% else %}  <h3>La URL de streaming no es alcanzable</h3>

           {% endif %}
        {% else %}  
           <h3>No hay conexión a internet</h3>
           <h3>Editar configuracion de red</h3>

        {% endif %}
    {% endblock %}