{% extends "network/base.html" %}

    {% block content %}
        <h2>Mostrando estado de la red</h2>
        {% if  status  %} <h3>Hay conexión a internet</h3>
           {% if  stream  %}  <h3>La URL de streaming es alcanzable</h3>
                              <h3>{{ con_info }}</h3>
           {% else %}  <h3>La URL de streaming no es alcanzable</h3>

           {% endif %}
        {% else %}  
           <h3>No hay conexión a internet</h3>
           <h3>Editar configuracion de red</h3>

        {% endif %}
    {% endblock %}