{% extends "network/base.html" %} 



  {% block content %}

     
    {% for wifi_network in wifi_list_on_db %}
      <li>{{ wifi_network }}</li>
      <form action="connecting/{{ wifi_network }}" method="POST" class="post-form">
        {% csrf_token %}           
        <button type="submit" class="save btn btn-default">Conectar</button>
      </form>

    {% endfor %}
    
    {% for wifi_network in wifi_list_not_on_db %}
        <li>{{ wifi_network }}</li>
        <form action="connect/{{ wifi_network }}" method="GET" class="post-form">
          {% csrf_token %}           
          <button type="submit" class="save btn btn-default">Conectar</button>
        </form>
   
    {% endfor %}


  {% endblock %}
