{% extends "darkice/base_generic.html" %}


    {% block content %}
    <style>

    h1 {
        color:darkred;
        font-size: large;
        text-align: center;
        font-weight: bold;
    }
    
    h3 {
        color: green;
    }
    
    h4 {
        color:darkblue;
    }


    </style>
    <style>
      fieldset {
       min-width: auto;
       min-height: 0%;
       display: inline-block;
       margin: 8px;
       border: 3px solid rebeccapurple;
       padding: 8px;    
       border-radius: 4px;
      }

      h3:hover {
        color: #064579;
    } 


    </style>
    
    

   <h1>Lista de configuraciones darkice disponibles<h1>

    <center><a href=/config/new/><h3>Crear nueva configuracion</h3></a>
    </center>

    <br><br>


        {% if configuration_list %}
        <center>
          {% for config in configuration_list%}

          <fieldset>

                <a href=/config/{{ config.pk }} >{{ config.name }} </a>
                <br> 
                <br>              
                <br>              
             
                <form action="apply/{{ config.pk }}" method="POST" class="post-form">
                {% csrf_token %}           
                <button type="submit" class="save btn btn-default">Aplicar</button>
                </form>
                                 
          <br>
          <br>
         <br> 
            </fieldset>    
            
            {% endfor %}
            </center>
        {% else %}
            <li>No hay ninguna configuración creada</li>

        {% endif %}

        {% if messages %}

        {% for message in messages %}
          <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
        {% endfor %}

         {% endif %} 
<center><h4>Haz click en el nombre de la configuración para una vista detallada</h4></center>
</main> 

 {% endblock %}



